<h1>Display your Pirate here</h1>
<h3>Pirate Name: <%= @pirate.name %></h3>
<h3>Pirate Height: <%= @pirate.height %></h3>
<h3>Pirate Weight: <%= @pirate.weight %></h3>

<h2>Display your ships here</h2>
<% @pirate.ships.each do |x| %>
	<h3>Pirate Ship Name: <%= x.name %></h3>
	<h3>Pirate Ship Type: <%= x.type %></h3>
	<h3>Pirate Ship Booty: <%= x.booty %></h3>
<% end %>

